/* VARIAVEIS */

$cor-1: #666; //escuro
$cor-2: #ddd; //medio
$cor-3: #f8f8f8; //claro

// FONTE DEFAULT
.fonte{font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.fonte-light{@extend .fonte;font-family: 'Open Sans';  font-weight: 300;}
.fonte-regular{@extend .fonte;font-family: 'Open Sans'; font-weight: 400;}
.fonte-bold{@extend .fonte;font-family: 'Open Sans'; font-weight: 600;}
.fonte-black{@extend .fonte;font-family: 'Open Sans'; font-weight: 800;}

//FONTE ICONES